@import 'nord.scss';

html {
  padding: 0;
  margin: 0;
  background-color: $nord1;
}

body {
  font-family: 'Open Sans', serif;
  padding: 0;
  margin: 0;
  color: $nord5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Saira Extra Condensed', serif;
  font-weight: 700;
  color: $nord8;
}


h1,
h2 {
  text-transform: uppercase;
}

h1 {
  font-size: 6rem;
  line-height: 5.5rem;
}

h2 {
  font-size: 3.5rem;
}

.h3,
h3 {
  font-size: calc(1.3rem + .6vw);
}

.bg-primary {
  background-color: $nord0 !important;
}

.text-primary {
  color: $nord9 !important;
}

a {
  color: $nord7;
}

a:hover,
a:focus,
a:active {
  color: $nord6;
}

#content .subtitle {
  font-size: 1.35rem;
  font-weight: 550;
  color: $nord12;
}

#content {
  padding: 0;
  margin: 0;
  border: 0;
  outline: 0;
}

#fullpage section {
  padding: 0;
  margin: 0;
  border: 0;
  outline: 0;
  height: 100vh;
}

.page {
  height: 100vh;
  overflow: hidden;
}

.introduction {
  padding-bottom: 1rem;
  border-bottom: 1px solid #ececec;
}

.about_text {
  color: $nord4;
  padding-bottom: 1rem;
  padding-top: 1rem;
  border-bottom: 1px solid #ececec;
}

.skills {
  padding-top: 1rem;
}

.experience-content {
  ul {
    list-style: disc inside;
  }

  strong {
    color: $nord7
  }
}

.range-dates {
  color: $nord13;
}

@media (min-width: 992px) {
  #sidebar {
    top: 0;
    bottom: 0;
    margin: 0;
    outline: 0;
    border: 0;
    border-color: $nord0;
    height: 100vh;
    width: 17rem;
    overflow: hidden;
    position: fixed;
    text-align: center;
    display: flex;
    flex-direction: column;
    background-color: $nord0;
  }

  #content {
    margin-left: 17rem;
  }

  #avatar {
    text-align: center;
    max-width: 10rem;
    max-height: 10rem;
    // border: 0.5rem solid $nord10;
  }

  #menu {
    display: block;
    align-items: flex-start;
    margin-bottom: auto;
    flex-grow: 0
  }

  .menu-list a {
    color: $nord4;
    font-weight: bold;
    padding: 1rem;
  }

  .menu-list a:hover,
  a:focus,
  a:active {
    color: rgba(255, 255, 255, .75);
    font-weight: bold;
    border: 0;
    outline: none;
    background-color: transparent;
  }
}