{% macro display(title, path) %}
{% set section = get_section(path=path) %}

<div class="is-flex is-flex-direction-column" style="height: 100%;">
    <div class="level-item">
        <h2>{{ section.title }}</h2>
    </div>
    <div style="overflow: auto;">
        {% for page in section.pages %}
        <div class="mb-6">
            <nav class="level mb-0">
                <div class="level-left">
                    <div class="level-item">
                        <h3>{{ page.extra.position }}</h3>
                    </div>
                </div>
                <div class="level-right mt-0">
                    <div class="range-dates level-item">
                        {{ page.extra.range }}
                    </div>
                </div>
            </nav>
            <h2 class="subtitle mt-1">{{ page.title | markdown(inline=true) | safe }}</h2>
            <div class="is-flex is-flex-direction-column is-align-items-start">
                <div class="experience-content">
                    {{ page.content| markdown(inline=false) | safe }}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endmacro %}