{% macro stylesheet() %}
<!-- CSS -->
<link rel="stylesheet" href="{{ get_url(path='stylesheets/bulma.min.css', trailing_slash=false) }}">
<link rel="stylesheet" href="{{ get_url(path='stylesheets/fonts.css', trailing_slash=false) }}">
<link rel="stylesheet" href="{{ get_url(path='main.css', trailing_slash=false) }}">
{% endmacro %}

{% macro javascript() %}
<!-- JS -->
{% endmacro %}

{% macro avatar() %}
{% if config.extra.avatar %}
<div style="display:block;margin:auto auto 0;padding:.5rem">
    <figure class="image">
        <img id="avatar" class="is-rounded" src="{{ get_url(path=config.extra.avatar ) }}">
    </figure>
</div>
{% endif %}
{% endmacro %}