{% import 'macros/head.html' as macros_head -%}
{% import 'macros/menu.html' as macros_menu -%}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, viewport-fit=cover">
  <title>{% block title %}{{ config.title }}{% endblock title %}</title>
  {{ macros_head::stylesheet() }}
  {{ macros_head::javascript() }}

  {% block extra_head %}
  {% endblock extra_head %}
</head>

<body>
  <link rel="stylesheet" href="{{ get_url(path='stylesheets/devicon.min.css', trailing_slash=false) }}">
  <aside id="sidebar" class="menu is-hidden-touch">
    {{ macros_head::avatar() }}
    {{ macros_menu::menu()}}
  </aside>
  <div id="content">
    <!-- Content -->
    {% block content %}
    {% endblock content %}
  </div>
</body>

</html>